/* 
this is for the page with the box sizing
background color 
No margin and padding and also add standard font to look more good for the single page website
*/
*{
    scroll-behavior: smooth;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: rgb(2, 37, 58);
    color: white;
}

main{
    margin: 0%;
}

a{
    text-decoration: none; 
    color: white;
}

li{
    background: none; 
    color: white;
}

ul{
    background: none; 
    color: white;
}

#textaboutme{
    font-size: 24px;
    background-color: rgba(1, 0, 0, 0.2);
}

/* 
this css is for the header and the navigation bar 
*/
.background{
    /* 
    image is taken from the given link which is accessed on January 16, 2022

    Article title: Want to use AI and machine learning? You need the right infrastructure
    URL: https://www.networkworld.com/article/3329861/want-to-use-ai-and-machine-learning-you-need-the-right-infrastructure.html
    Website title: Network World
    Date accessed: January 17, 2022
    Date published: December 21, 2018

    URL: https://www.google.com/search?q=ai%2Bpicture&sxsrf=AOaemvLpESPZspiXwdRaQvUrP_V7y3zs9Q%3A1642487458575&tbm=isch&source=iu&ictx=1&vet=1&fir=lWgiYrhNCHMGNM%252CHJcKMLk7JiCIvM%252C_%253B_X3jAT5Dl9C27M%252CTTxDCXT9yP6zNM%252C_%253BWisEJTAPoBXPFM%252CTTxDCXT9yP6zNM%252C_%253BYRsHxswelXA-sM%252CHJcKMLk7JiCIvM%252C_%253BNl9_Haf9plVJ6M%252CUKmUOVQVoyYyoM%252C_%253B3rv5LXhSckwsiM%252CTTxDCXT9yP6zNM%252C_%253BTlPiFvjzpmDz1M%252CeZRcg5x2i1gzOM%252C_%253B-5Zq-N8-2IGX0M%252CHJcKMLk7JiCIvM%252C_%253Bg6lggia-TjmKrM%252CBCOVp4MlJAQ3pM%252C_%253BWbcWq_l0lpoh8M%252CTTxDCXT9yP6zNM%252C_%253BwPaAjmMWrn2MEM%252CHJcKMLk7JiCIvM%252C_%253BuvWb3BSiKuseYM%252Cyvpd56DLAeU3MM%252C_&usg=AI4_-kSKd9KwyEZU9JeRVCoDwW2FrluzCg&sa=X&ved=2ahUKEwiHnJDM1rr1AhVhsDEKHZLID5QQ9QF6BAgaEAE#imgrc=vkClVIvMyiNb-M
    Website title: Google Search
    Date accessed: January 17, 2022

    */

    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)), url('image/ai.jpeg');
    background-size: cover;
    /* vh --> viewport height */
    height: 100vh;
}

.dropdownbutton{
    display: none;
}

.navigation-bar{
    position: fixed;
    display: grid;
    grid-template-columns: auto auto ;
    background: rgba(0,0,0,1);
    padding: 10px;
    margin-top: 0px;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
    z-index: 2;
}

.navigation-bar #name{
    font-size: 26px;
    font-weight: 600;
    margin-left: 10px;
}

.navigation-bar ul{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: right;
    list-style: none;
}

.navigation-bar ul li a{
    padding: 22px;
    color: white;
    text-decoration: none;
} 

.navigation-bar ul li a:hover{
    background: rgba(141, 177, 255, 0.3);
}

#textonimage{
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 20px;
    top: 30%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    position: absolute;
}

/* scroll down to education and experience */
.scroll_down{
    bottom: 40px;
    position: absolute;
    left: 48%;
    background-color: rgba(0, 0, 0, 0.685);
    border: 2px solid;
    border-color: rgb(0, 183, 255) rgba(91, 134, 175, 0.973); 
    width: 50px;
    height: 80px;
    border-radius: 50%;
    animation: scrolldown 3.5s infinite;
}

@keyframes scrolldown {
    0%{
        background-color: transparent;
        border-color:rgba(32, 109, 180, 0.973) rgb(0, 43, 59);
        bottom: 20px;
    }
    25%{
        border-color: rgb(0, 43, 59) rgba(32, 109, 180, 0.973); 
        bottom: 40px; 
    }
    50%{
        background-color: rgba(0, 0, 0, 0.685);
        border-color:rgba(32, 109, 180, 0.973) rgb(0, 43, 59);
        bottom: 20px;
    }
    75%{
        border-color: rgb(0, 43, 59) rgba(32, 109, 180, 0.973);
        bottom: 40px;
    }
    100%{
        background-color: rgba(0, 0, 0, 0.685);
        border-color:rgba(32, 109, 180, 0.973) rgb(0, 43, 59);
        bottom: 20px;
    }
}

.down_arrow{
    background-color: rgb(0, 217, 255);
    border: solid;
    border-color: rgb(0, 43, 59) rgba(32, 109, 180, 0.973);
    display: inline-block;
    padding: 5px;
    margin: 25px 15px;
    transform: rotate(45deg);
    animation: backcolorchange 3.5s infinite;
}

@keyframes backcolorchange {
    0%{
        background-color: transparent;
        border-color:rgba(32, 109, 180, 0.973) rgb(0, 43, 59);
    }
    25%{
        border-color: rgb(0, 43, 59) rgba(32, 109, 180, 0.973); 
    }
    50%{
        background-color: rgba(0, 0, 0, 0.685);
        border-color:rgba(32, 109, 180, 0.973) rgb(0, 43, 59);
    }
    75%{
        border-color: rgb(0, 43, 59) rgba(32, 109, 180, 0.973);
    }
    100%{
        background-color: rgba(0, 0, 0, 0.685);
        border-color:rgba(32, 109, 180, 0.973) rgb(0, 43, 59);
    }
}

/* main content style */

/* education and experiences */
.standardpagestyle{
    padding: 4rem 0;
    height: auto;
    width: auto;
}
.standardheading{
    font-size: 150%;
    text-align: center;
    position: relative;
}

.alltext{
    font-size: 75%;
}
.alltext p{
    line-height: 40px;
    text-align: left;
    width: 85%;
    margin: 0% auto;
}

/* contact form */
#contact{
    /* 
    image is taken from the given link which is accessed on January 18, 2022
    Article title: Download Stage podium with blue spotlight lighting effect for free
    URL: https://www.vecteezy.com/vector-art/2849004-stage-podium-with-blue-spotlight-lighting-effect
    Website title: Vecteezy
    Date accessed: January 17, 2022
    Date published: June 29, 2021

    URL: https://www.google.com/search?q=dark%2Bblue%2Band%2Bblack%2Blight%2Bview&tbm=isch&ved=2ahUKEwjxl7jh5br1AhXqQUIHHetZB5sQ2-cCegQIABAA&oq=dark%2Bblue%2Band%2Bblack%2Blight%2Bview&gs_lcp=CgNpbWcQAzoHCCMQ7wMQJzoGCAAQCBAeOgUIABCABDoICAAQgAQQsQM6CwgAEIAEELEDEIMBOggIABCxAxCDAToECAAQQzoHCAAQsQMQQ1CMD1iQT2D7T2gCcAB4AIABf4gB-heSAQQyNC45mAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=iW7mYbGvMOqDieoP67Od2Ak&bih=788&biw=1436#imgrc=5-0vqeBKuYKQjM&imgdii=jGZXltiQMhkweM
    Website title: Google Search
    Date accessed: January 17, 2022
    */
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.4)), url('image/contactimg.jpeg');
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

#textforcontact{
    font-size: 22px;
    color: rgb(252, 255, 77);
}

.form{
    font-size: 22px;
    display: grid;
    grid-template-columns: auto auto;
    padding: 15px;
    padding: 0% 0% 70% 0%;
    grid-gap: 3px;
    margin-right: 20px;
}
label,button,input{
    padding: 15px;
}

button{
    grid-column-start: 2;
}

/* footer style */
footer{
    background-color: white;
    color: black;
    padding: 20px 42px 40px 12px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.fa{
    padding: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border: 2px solid black;
}

.fa:hover{
    opacity: 0.8;
}

.facebook{
    background-color: #3B5998;
}
.instagram{
    background-color: #cf3530d2;
}
.linkedln{
    background-color: #107bf5d2;
}
.github{
    background-color: #000000d2;
}
.oldsite{
    background-color: #19191ad2;
}


/* top button */
#backToTop{
    position: fixed;
    bottom: 23px;
    right: 25px;
    display: none;
}
.top_text_arrow_style{
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 900;
    animation: topbuttonanimation 3s infinite;
}

@keyframes topbuttonanimation {
    0%{
        color: rgb(54, 240, 184);
    }
    25%{
        color: rgb(6, 153, 211); 
    }
    50%{
        color: rgb(255, 1, 1);
    }
    75%{
        color: rgb(180, 117, 0);
    }
    100%{
        color: rgb(134, 0, 94);
    }
}

/* media query */
/* tablet */
@media (min-width: 320px) and (max-width: 991px){
    /* this is for the navigation */
    .dropdownbutton{
        background-color: transparent;
        color: white;
        display: grid;
        cursor: pointer;
        font-size: 18px;
        padding: 16px 16px;
        grid-column-start: 3;
        grid-column-end: 3;
        border: 1px white;
    }

    .navigation-bar .dropdownbutton:hover{
        background: rgba(141, 177, 255, 0.3);
    }

    .navigation-bar .hovedropdown:hover ul{
        display: block;
    }

    .navigation-bar{
        grid-template-columns: auto auto!important;
    }
    
    .navigation-bar ul{
        background: rgba(141, 177, 255, 0.9);
        font-weight: 900;
        grid-template-columns: auto !important;
        grid-column-start: 3;
        grid-column-end: 3;
        position: fixed !important;
        right: 12px;
        line-height: 42px;
        white-space: nowrap;
        padding: 14px;
        top: 65px;
        margin: -1px;        
    }

    #show{
        display: none;
    }

    .navigation-bar ul li a:hover{
        background: rgba(9, 32, 80, 0.3) !important;
    }

    /* main content */
    #contact{
        height: 105vh !important;
    }
    .form{
        margin-right: 20px !important;
    }

    /* footer style */
    footer{
        display: grid;
        grid-template-columns: auto !important;
        justify-content: space-between;   
        white-space: nowrap; 
    }
    
}

/* mobile */
@media (max-width: 500px){
    /* this is for the navigation */ 
    .navigation-bar ul{
        position: fixed !important;
        right: 10px !important;
        padding: 0% !important;
    }

    .navigation-bar ul li a:hover{
        background: rgba(9, 32, 80, 0.3) !important;
    }

    #textonimage{
        font-size: 14px !important;
    }

    #textaboutme{
        font-size: 18px;
    }

    /* main content */
    #contact{
        height: 105vh !important;
    }
    .form{
        margin-right: 20px !important;
    }

    /* footer style */
    .social_media a{
        width: 100% !important;
        display: grid;
        margin: 10px;
    }
}